/* //////////////فونت وزیر//////////////// */
@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-Regular.eot');
    src: url('./../fonts/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Vazir-Regular.woff2') format('woff2'),
        url('./../fonts/Vazir-Regular.woff') format('woff'),
        url('./../fonts/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-Bold.eot');
    src: url('./../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Vazir-Bold.woff2') format('woff2'),
        url('./../fonts/Vazir-Bold.woff') format('woff'),
        url('./../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-Black.eot');
    src: url('./../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Vazir-Black.woff2') format('woff2'),
        url('./../fonts/Vazir-Black.woff') format('woff'),
        url('./../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-Medium.eot');
    src: url('./../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Vazir-Medium.woff2') format('woff2'),
        url('./../fonts/Vazir-Medium.woff') format('woff'),
        url('./../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-Light.eot');
    src: url('./../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Vazir-Light.woff2') format('woff2'),
        url('./../fonts/Vazir-Light.woff') format('woff'),
        url('./../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Vazir;
    src: url('./../fonts/Vazir-Thin.eot');
    src: url('./../fonts/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Vazir-Thin.woff2') format('woff2'),
        url('./../fonts/Vazir-Thin.woff') format('woff'),
        url('./../fonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@media (max-width: 767px) {}

a {
    color: gray !important;
}

* {
    font-family: Vazir !important;
    line-height: 1.7;
}

.container-fluid {
    max-width: 1224px !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.cyan-border {
    background-color: white;
    border: 1px #025373 solid !important;
}

.cyan {
    color: #025373;
}

.bg-cyan {
    background-color: #025373;
}

.active {
    color: #025373 !important;
    border-bottom: 2px #025373 solid;
}

.frame1 {
    background-image:
        linear-gradient(88.59deg, rgba(9, 122, 167, 0.6) -13.05%, rgba(2, 83, 115, 0.6) 126.82%),
        url(../images/download\ 2.png);
    background-size: cover;
    color: white;
    height: 464px !important;
}

.login {
    margin-right: 15rem;
}

.search-form {
    border-radius: 1rem;
    background-color: white;
    position: relative;
    top: -2rem;
    border: 1px solid gray;
    box-shadow: 5px 3px 14px 0px #00000033;
    width: 75%;
}

.options {
    margin-top: -6rem;
    background-color: #F9F9F9;
}

.text-option {
    font-size: 12px;
}

.times {
    color: #FC985E;
}

.best-suggestion {
    background-color: #025373;
}

.search {
    outline: none;
}

.bg-mygray {
    background: #F9F9F9;

}

.serie-a {
    background: #C5B783;
}

.laliga {
    background: #FCB507;
}

.ligue1 {
    background: #1162C9;
}

.bundesliga {
    background: #7D7D7D;
}

.premier-league {
    background: #EDEDED;
}

.iran-league {
    background: #239F40;
}
.league-box{
    height: 288px;
}
a{
    text-decoration: none !important;
}
.link-cyan{
    color: #025373 !important;
}
.avatar{
    border-radius: 50% !important;
}
.comment-name{
    margin-right: -1rem;
}
.circle{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.article-head{
    font-size: 20px;
}
.article-footer{
    font-size: 12px !important;
}
.article-avatar{
    width: 1.5rem !important;
    height: 1.5rem !important;
    border-radius: 50%;
}
/* .insta-photo{
    position: absolute;
    top: 316.7rem;
    left: 75%;
    max-height: 242.84px !important;
} */
.instagram{
    margin-top: -6rem;
}
.articles{
    margin-bottom: 7rem !important;

}
.footer-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.footer-li{
    line-height: 2;
}
.footer{
    position: relative;
}
.nemadbox{
    max-height: 170px !important;
}
.nemad1{
    height: 150px;
    width: 150px;   
}
.nemad2{
    Width:98px;
    height: 150px;
}
.footer-bg{
    width: 100%;
    height: 40vh !important;
    margin-top: -10rem;
}
.min-width{
    min-width: 599px;
}
.box-shadow{
    box-shadow: 0px 5px 8px -3px rgba(0, 0, 0, 0.1);
}
.team-box{
    max-height: 184px;
}
.team-img{
    max-height: 133px;
    
}
.rect-border{
    border-right: 5px solid #025373;
}